.pagination__separator {
  padding: 0 10px;
}
.pagination__more {
  height: 50px;
  padding-top: var(--padding);
  margin-top: var(--padding);
  font: var(--font-text);
  color: var(--color-main-grey);
  display: grid;
  align-items: center;
  grid-template: 1fr / .3fr 1fr;
  width: max-content;
}

.pagination__more:hover {
  color: var(--color-bright);
}
.pagination__numb {
  height: 26px;
}

.arrow-buttons {
  text-align: center;
  width: 100%;
}
