.header-wrapper {
  /*height: 155px;*/
  padding: 10px;
  box-shadow: 2px 3px 10px -2px var(--color-overlay);;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  min-height: 2em;
  left: 0;
  width: 100%;
  background: var(--color-light);
  z-index: 1000;
}

.header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
}

.header__logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: var(--color-main-grey);
  text-decoration: none;
}

.header__logo:hover {
  text-decoration: underline 1px var(--color-light-grey);
}

.logo-svg {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 80px;
  height: 70px;
  padding-right: 10px;
}

.logo-headline {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-weight: 800;
  font-family: 'Caveat', cursive;
 display: none;
  margin: 0;
}

.logo-text {
 display: none;
}

.search-field {
  grid-row: 1 /2;
  grid-column: 2 / 3;
  justify-self: end;
}

.search-field >mat-form-field {
  width: 100px;
}

.search-icon {
  color: var(--color-light-grey);
  margin-left: -20px;
}

.header__link {
  color: var(--color-main-grey);
}

.header__link:focus,
.header__link:active,
.header__link:hover {
  color: var(--color-bright);
}

.header__auth {
  display: grid;
  justify-self: end;
  justify-items: center;
  align-items: center;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.user__name {
  text-align: center;
  grid-row: 2/3;
}

.header__logout {
  grid-row: 1/2;
  grid-column: 3/4;
}

@media (min-width: 568px) {
  /*.header-wrapper {*/
  /*  height: 120px;*/
  /*}*/
  .header-wrapper {
    /*height: 155px;*/
    padding: 20px;
  }

  .header {
    grid-template-columns: 1.3fr 4fr minmax(50px, 126px) .5fr;
    align-items: center;
  }


  .header__logo {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 0.7fr 5fr;
  }

  .logo-headline {
    display: block;
    font-size: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .logo-text {
    display: block;
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font: 400 19px/28px Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    align-self: baseline;
    justify-self: end;
  }

  .search-field {
    padding-right: 20px;
    grid-row: 1/2;
    grid-column: 2 / 3;
  }

  .search-field >mat-form-field {
    width: 150px;
  }

  .header__auth {
    grid-template-columns: 1.1fr .5fr;
    grid-row: 1/2;
    grid-column: 3 / 4;
  }

  .header__logout {
    grid-row: 1/2;
    grid-column: 4/5;
  }
}

@media (min-width: 860px) {


  .logo-headline {
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 5px;
  }

  .search-field >mat-form-field {
    width: 200px;
  }

}


.exit {
  color: var(--color-bright);
}
