.user {
  display: flex;
  height: 100%;
  margin: auto 0 auto auto;
  flex-direction: column;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-bottom: 10px;
}

.header__logout {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: end;
}

.header__link {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  color: var(--color-main-grey);
}

.logo-link {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  font-weight: 600;
  justify-self: start;
}

.header__link:focus,
.header__link:active,
.header__link:hover {
  color: var(--color-bright);
}

.header__logo {
  width: 80px;
  height: 80px;
}

.logo-svg {
  width: 200px;
  height: 95px;
}

@media (min-width: 860px) {
  .logo-svg {
    width: 254px;
    height: 95px;
  }
}

.header__auth {
  display: grid;
  padding-right: 10px;
  justify-self: end;
  justify-items: center;
}
