header {
  display: flex;
  height: 145px;
  align-items: center;
  border-bottom: 1px solid gray;
}

.user {
  display: flex;
  height: 100%;
  margin: auto 0 auto auto;
  flex-direction: column;
}

.user__avatar {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  border-radius: 80px;
  border: 1px solid gray;
}

.logo img {
  height: 140px;
  width: 140px;
  border: 0;
}

.user__name {
  align-self: flex-end;
}

.hidden {
  display: none;
}
