.search__page {
  background-color: var(--color-light-saturated);
}

.search__item {
  margin-top: var(--padding);
  padding: var(--padding);
  background-color: var(--color-light);
  border-radius: var(--border-radius);
}

.search__link {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: repeat(3, 1fr);
}

.search__item:hover{
  transform: scale(1.01);
}
.search__img {
  width: 120px;
  height: 120px;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}
