<section class="video__section">
  <div class="video__overlay">
    <div class="container video__text">
      <h1 class="video__headline">
        ЧЕРКАСИ -
      </h1>
      <h2 class="video__headline video__desc">
        Місто, де хочеться жити
      </h2>
      <a routerLink="/places/{{randomCategory}}" class="video__btn link">
        Хочу експерементувати</a>
    </div>

  </div>
    <video loop="" muted="" autoplay="" class="video__wrapper">
      <source src="../../../../../../assets/video.mp4" type="video/mp4" class="video">
    </video>
</section>
<section class="categories-wrapper">
  <div class="categories container">
    <h1 class="categories__title">Що шукаєш?</h1>
    <ul class="categories__list list">
      <li *ngFor="let category of categories" class="categories__item">
        <div class="photo-wrapper">
          <div class="photo-overlay">
            <div class="content">
              <span>
                {{ category.name }}
              </span>
            </div>
        </div>
        <img src="../../../../../../assets/14_DSC_8580_1.jpg" class="img"/>
      </div>

      <a routerLink="/places/{{category.id}}" class="categories__link link categories__l">
        {{ category.name }}
      </a>
      <p class="categories_count">кількість вражень</p>
    </li>
  </ul>
    </div>
</section>
