<section class="video__section">
  <div class="video__overlay ">
    <div class="container padding-inside video__text">
      <h1 class="video__headline">
        ЧЕРКАСИ -
      </h1>
      <h2 class="video__headline video__desc">
        місто, де хочеться жити
      </h2>
      <a routerLink="/places/{{randomCategory}}" class="video__btn link">
        Хочу експериментувати</a>
    </div>

  </div>
  <video loop="" muted="" autoplay="" class="video__wrapper">
    <source src="../../../../../../assets/video.mp4" type="video/mp4" class="video">
  </video>
  <img src="https://img.tsn.ua/cached/1593946422/tsn-0adb2b455a252fbeb54cd6e76bc767e2/thumbs/1200x630/88/67/5594e3b8f4dcbf05fad127312dd86788.jpeg" alt="cherkasy" class="top-img">
</section>
<section class="background-saturated">
  <div class="section container">
    <h2 class="headline">Що шукаєш?</h2>
    <div class="bright-line"></div>
    <ul class="main__list categories__list list">
      <li>
        <a routerLink="/places/{{categories[0].id}}" class="categories__item link">
          <div class="photo-wrapper">
            <div class="photo-overlay categories__photo-overlay-sleeping">
              <div class="content">
              <span>
                {{categories[0].name}}
              </span>
              </div>
            </div>
            <img src="../../../../../../assets/sleeping-gray.jpg" class="img" alt="{{categories[0].name}}"/>
          </div>
          <p class="card-link category-name">
            {{categories[0].name}}
          </p>
          <p class="card-text category-text">кількість вражень</p>
        </a>
      </li>
      <li>
        <a routerLink="/places/{{categories[1].id}}" class="link categories__item">
          <div class="photo-wrapper">
            <div class="photo-overlay categories__photo-overlay-gastronomy">
              <div class="content">
              <span>
                {{categories[1].name}}
              </span>
              </div>
            </div>
            <img src="assets/gastronomy-gray.jpg" class="img" alt="{{categories[1].name}}"/>
          </div>
          <p class="card-link category-name">
            {{categories[1].name}}
          </p>
          <p class="card-text category-text">кількість вражень</p>
        </a>
      </li>
      <li>
        <a routerLink="/places/{{categories[2].id}}" class="link categories__item">
          <div class="photo-wrapper">
            <div class="photo-overlay categories__photo-overlay-recreation">
              <div class="content">
              <span class="overlay">
                {{categories[2].name}}
              </span>
              </div>
            </div>
            <img src="../../../../../../assets/recreation-gray.jpg" class="img" alt="{{categories[2].name}}"/>
          </div>
          <p class="card-link category-name">
            {{categories[2].name}}
          </p>
          <p class="card-text category-text">кількість вражень</p>
        </a>
      </li>
      <li>
        <a routerLink="/places/{{categories[3].id}}" class="link categories__item">
          <div class="photo-wrapper">
            <div class="photo-overlay categories__photo-overlay-culture">
              <div class="content">
              <span>
                {{categories[3].name}}
              </span>
              </div>
            </div>
            <img src="../../../../../../assets/culture-gray.jpg" class="img" alt="{{categories[3].name}}"/>
          </div>
          <p class="card-link category-name">
            {{categories[3].name}}
          </p>
          <p class="card-text category-text">кількість вражень</p>
        </a>
      </li>
      <li>
        <a routerLink="/places/{{categories[4].id}}" class="link categories__item">
          <div class="photo-wrapper">
            <div class="photo-overlay categories__photo-overlay-unique">
              <div class="content">
              <span>
                {{categories[4].name}}
              </span>
              </div>
            </div>
            <img src="../../../../../../assets/unique-gray.jpg" class="img" alt="{{categories[4].name}}"/>
          </div>
          <p class="card-link category-name">
            {{categories[4].name}}
          </p>
          <p class="card-text category-text">кількість вражень</p>
        </a>
      </li>
      <li>
        <a routerLink="/places/{{categories[5].id}}" class="link categories__item">
          <div class="photo-wrapper">
            <div class="photo-overlay categories__photo-overlay-navigation">
              <div class="content">
              <span>
                {{categories[5].name}}
              </span>
              </div>
            </div>
            <img src="../../../../../../assets/navigation-gray.jpg" class="img" alt="{{categories[5].name}}"/>
          </div>
          <p class="card-link category-name">
            {{categories[5].name}}
          </p>
          <p class="card-text category-text">кількість вражень</p>
        </a>
      </li>


      <!--      <li class="categories__item-test">-->
      <!--        <div class="photo-wrapper-test">-->
      <!--          <div class="photo-overlay-test photo-overlay">-->
      <!--            <div class="content">-->
      <!--              <span>-->
      <!--                {{ categories[5].name }}-->
      <!--              </span>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--          <img src="../../../../../../assets/navigation.jpg" class="img-test-col"/>-->
      <!--          <img src="../../../../../../assets/navigation-gray.jpg" class="img-test-gray"/>-->
      <!--        </div>-->

      <!--        <a routerLink="/places/{{categories[5].id}}" class="categories__link link categories__l">-->
      <!--          {{ categories[5].name }}-->
      <!--        </a>-->
      <!--        <p class="categories_count">кількість вражень</p>-->
      <!--      </li>-->
    </ul>
  </div>
</section>
