<div *ngIf="userActivity">
  <h1 class="mat-h1">Заплановані події</h1>
  <ul class="events-list" *ngIf="userActivity.scheduled_events?.length">
    <li class="event" *ngFor="let event of userActivity.scheduled_events">
      <a routerLink="/events/{{event.id}}">
        <img class="event__photo" src="{{event.main_photo}}" alt="">
        <p class="event__title">{{event.name}}</p>
      </a>
    </li>
  </ul>
  <h1 class="mat-h1">Недавні місця</h1>
  <ul class="events-list" *ngIf="userActivity.visited_places?.length">
    <li class="event" *ngFor="let place of userActivity.visited_places">
      <a routerLink="/places/{{place.category_id}}/{{place.id}}">
        <img class="event__photo" src="{{place.main_photo}}" alt="">
        <p class="event__title">{{place.name}}</p>
      </a>
    </li>
  </ul>
  <h1 class="mat-h1">Улюблені місця</h1>
  <ul class="events-list" *ngIf="userActivity.favorites_places?.length">
    <li class="event" *ngFor="let place of userActivity.favorites_places">
      <a routerLink="/places/{{place.category_id}}/{{place.id}}">
        <img class="event__photo" src="{{place.main_photo}}" alt="">
        <p class="event__title">{{place.name}}</p>
      </a>
    </li>
  </ul>
  <h1 class="mat-h1">Мої місця</h1>
  <ul class="events-list" *ngIf="userActivity.user_places?.length">
    <li class="event" *ngFor="let place of userActivity.user_places">
      <a routerLink="/places/{{place.category_id}}/{{place.id}}">
        <img class="event__photo" src="{{place.main_photo}}" alt="">
        <p class="event__title">{{place.name}}</p>
      </a>
    </li>
  </ul>
  <h1 class="mat-h1">Мої події</h1>
  <ul class="events-list" *ngIf="userActivity.user_events?.length">
    <li class="event" *ngFor="let event of userActivity.user_events">
      <a routerLink="/events/{{event.id}}">
        <img class="event__photo" src="{{event.main_photo}}" alt="">
        <p class="event__title">{{event.name}}</p>
      </a>
    </li>
  </ul>
</div>
