<app-layout>
  <div class="page-events-list__wrapper">
  <section class="container main-content">
    <div class="datepicker-wrapper padding-inside">
      <h2 class="headline datepicker-wrapper__headline">Приєднуйся до найближчих подій</h2>
      <a [class.--disabled]="isLoggedOut$ | async"
        routerLink="/event_create"
        class="link link-add link-create"
        appAuthorizationTooltip>Створити подію</a>
      <span class="mat-h3 events__date">{{dateUrkFormat}}</span>
      <button class="btn__datepicker calendar-icon" mat-button matSuffix mat-icon-button aria-label="Calendar"
              (click)="picker.open()">
        <mat-icon>events</mat-icon>
      </button>
      <mat-form-field appearance="fill" style="width: 1px; visibility: hidden" class="mat-hidden">
        <input matInput [matDatepicker]="picker" [formControl]="dateInput">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="page-events-list-wrapper">
      <app-filter-by-availability class="page__aside aside-filters padding-inside"
        (availabilityStateChange)="updateFilterAvailabilityState($event)"
        [page]="'events'">
      </app-filter-by-availability>
      <div class="padding-inside cards-list main-list page-events-list__events" *ngIf="events?.length">
        <a routerLink="{{event.id}}" class="event-item page-events-list__item link" *ngFor="let event of events">
           <span class="img-wrapper page-events-list__img-wrapper">
            <img class="img-photo" src="{{event.main_photo}}" alt="{{event.name}}">
           </span>
          <p class="card-link">
            {{event.name}}
          </p>
          <p class="card-text">
            {{dateService.getDateTime(event.start_time)}}
          </p>
        </a>
      </div>
      <p class="mat-h3 events-list__no-results" *ngIf="!events?.length">Нічого не знайдено!</p>
      <app-pagination *ngIf="totalPages"
                      [hidden]="!totalPages"
                      class="page-events-list__pagination"
                      (paginationStateChange)="updatePaginationState($event)"
                      [filterAvailabilityState]="filterAvailabilityState"
                      [totalPages]="totalPages"
                      [datePickerState]="date">
      </app-pagination>
    </div>

  </section>
  </div>
</app-layout>
