.page-events-list__wrapper {
  background-color: var(--color-light-saturated);
}
.page-events-list-wrapper {
  margin-top: 10px;
  background-color: var(--color-light);
}

@media (min-width: 791px) {
  .page-events-list-wrapper {
    margin-top: 0;
    display: grid;
    grid-template-columns: .7fr 2.5fr;
    grid-template-rows: auto;
  }
}

.datepicker-wrapper {
  padding-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/3;
  align-items: center;
}

.link-create {
  grid-row: 2 / 3;
  justify-self: end;
}

.mat-hidden {
  grid-row: 1/2;
}
.datepicker-wrapper__headline {
  grid-row: 1/2;
}

.events__date {
  grid-column: 2 / 3;
  grid-row: 1/2;
  justify-self: end;
}

.btn__datepicker {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-bottom: 16px;
}

.btn__datepicker:hover {
  color: var(--color-bright);
}
@media (min-width: 769px) {
  .page-events-list__events {
    grid-column: 2/3;
    margin-left: 3px;
    padding: 30px;
  }

  .page-events-list__pagination {
    grid-column: 2/3;
  }

  .datepicker-wrapper {
    grid-template-columns: 1.1fr .8fr .002fr .5fr;
  }

  .events__date {
    grid-column: 2 / 3;
  }
  .btn__datepicker {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .link-create {
    grid-row: 1/2;
  }
  }



.hidden {
  display: none;
}

.loader {
  align-self: center;
  margin: 0 auto;
}


.page-events-list__img-wrapper {
  grid-row: 1/2;
  grid-column: 1/2;
}

.events-list__no-results {
  min-height: 55vh;
  padding: 50px 30px;
  margin-bottom: 0;
  border-bottom: 1px solid var(--color-light-grey);
}
