.page-events-list {
  background-color: var(--background-color);
  padding: 4% 15px;
}

.page-events-list__item:hover {
  background-color: #fff;
}

.datepicker-wrapper {
  padding-top: 25px;
  display: grid;
  grid-template-columns: 1fr .25fr .002fr;
  grid-template-rows: .5fr;
  align-items: baseline;
}

.mat-hidden {
  grid-row: 1/2;
}

.datepicker-wrapper__headline {
  grid-row: 1/2;
}

.events__date {
  grid-column: 2/3;
  grid-row: 1/2;
}

.btn__datepicker {
  grid-column: 3/4;
  grid-row: 1/2;
}

.name {
  margin-top: 25px;
}
/*.datepicker-wrapper {*/
/*  display: flex;*/
/*  justify-content: flex-end;*/
/*  align-items: center;*/
/*}*/

/*.datepicker-wrapper span {*/
/*  margin: auto;*/
/*}*/

/*.datepicker-wrapper .mat-h1 {*/
/*  margin-left: 0;*/
/*}*/

/*.datepicker-wrapper .mat-h3 {*/
/*  margin-right: 10px;*/
/*}*/

.hidden {
  display: none;
}

.loader {
  align-self: center;
  margin: 0 auto;
}
