<div *ngIf="event" class="container">
  <p><b>Ідентифікатор події:</b>  {{eventId}}</p>
  <br><br>
  <app-gallery [photos]="eventPhotos"></app-gallery>
  <br><br>
  <p><b>Назва події:</b>  {{event.name}}</p>
  <div>
    <b>Телефони:</b>
    <ul *ngIf="event.phones">
      <li *ngFor="let phone of event.phones">{{phone}}</li>
    </ul>
  </div>
  <p><b>Опис:</b>  {{event.description}}</p>
  <p><b>Адреса:</b>  {{event.address}}</p>
  <p><b>Веб сайт:</b>  {{event.website}}</p>
  <p><b>Дата початку:</b>  {{event.start_time}}</p>
  <p><b>Дата кінця:</b>  {{event.end_time}}</p>
  <p><b>Організатор:</b>  {{event.organizer}}</p>
  <p><b>Ідентифікатор місця проведення:</b>  {{event.place_id}}</p>
  <p><b>Ціна:</b>  {{event.price}}</p>
  <p><b>Програма:</b>  {{event.program}}</p>
</div>
