.events-details__headline {
  padding: 40px 0 30px;
}

.events-details__contact:hover a {
  text-decoration: none;
}

.event__program {
  font-size: 1.2rem;
  font-weight: 600;
}

.favorite-visit-section {
  padding-bottom: 30px;
  display: grid;
  justify-items: start;
}

.visited-btn {
  padding: 5px 25px;
  justify-items: end;
  background-color: var(--color-light);
  color: var(--color-main-grey);
  font: var(--font-text);
  border: 1px solid var(--color-main-grey);
  border-radius: 8px;
}
