.events-details__headline {
  padding: 40px 0;
}

.events-details__icon {
  padding: 15px;
}

.events-details__contact:hover a {
  text-decoration: none;
}

.event__program {
  font-size: 1.2rem;
  font-weight: 600;
}

.favorite-visit-section {
  display: grid;
  justify-items: start;
}
