<div *ngIf="event">
  <p><b>Ідентифікатор події:</b>  {{eventId}}</p>
  <br><br>
  <app-gallery [photos]="event.photos"></app-gallery>
  <br><br>
  <p><b>Назва події:</b>  {{event.name}}</p>
  <div>
    <b>Телефони:</b>
    <ul *ngIf="event.phones">
      <li *ngFor="let phone of event.phones">{{phone}}</li>
    </ul>
  </div>
  <p><b>Адреса:</b>  {{event.address}}</p>
  <p><b>Веб сайт:</b>  {{event.website}}</p>
  <p><b>Доступність:</b>  {{event.accessibility}}</p>
  <p><b>Місце дружнє до дітей:</b>  {{event.child_friendly}}</p>
  <p><b>Місце дружнє до тварин:</b>  {{event.dog_friendly}}</p>
  <p><b>Детальна інформація:</b>  {{event.description}}</p>
</div>
