body {
  background-color: white;
  padding: 20px;
}

main {
  padding: 40px 0;
}

.button {
  position: relative;
  display: inline-block;
  width: 48px;
  padding: 4px 0;
  margin-right: 1px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #000;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
}

.button:hover {
  background: none;
  box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0,0,0,.5) inset, 0 3px 2px #eaeaea;
  cursor: pointer;
}

.button.active {
  background: #dcdcdc linear-gradient(#fff, #dcdcdc);
  box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
  pointer-events: none;
}

.filter {
  padding-top: 15px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background: none;
}

.pressed-favorite-btn {
  color: #ffa9a2;
}

.pressed-primary-btn {
  background-color: #c6a6ff !important;
}

.red {
  color: red;
}

.green {
  color: green;
}
