.place-details__wrapper {
  background-color: #f2f2f2;
  padding: 50px 10px;
}

.place-details__headline {
  padding: 50px;
  font: var(--text-headline);
}

.place-details__text {
  padding: 10px 0;
  color: var(--main-text-color);
  font: var(--text-font);
}

.place-details__text li {
  padding: 5px;
}

.place-details__link:hover,
.place-details__link:focus {
  color: var(--bright-color);
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.place-details__availability {
  padding: 10px;
}

.place-details-about__headline {
  text-align: center;
}

.place-details__about {
  line-height: 2rem;
  text-align: justify;
}

@media (min-width: 481px) {
  .place-details__info {
    display: grid;
    grid-template: 1fr/ 1fr .3fr;
  }

  .place-details__availability {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
  }

  .place-details__about {
    font-size: 1.3rem;
  }

  .place-details-about__headline {
    font: var(--text-headline);
  }
}

.events-wrapper {
  min-height: 360px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.events-list {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

.event {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.event__photo {
  max-width: 192px;
}

.event__title {

}
