.place-details__contact:hover a {
  text-decoration: none;
}

.place-details__wrapper,
.place__about {
  background-color: var(--background-saturated-color);
  padding: 50px 10px;
}

.place-details__info {
  padding: 30px;
}

.place-details__headline {
  padding: 30px 0;
  margin: 0;
  font: var(--font-headline);
}

.place-details__contacts {
  display: grid;
  grid-auto-rows: max-content;
}

.place-details__text li {
  padding: 5px;
}

.page-place-details__work-time {
  grid-template-rows: max-content;
  align-items: normal;
}

.place-details__about {
  line-height: 2rem;
  text-align: justify;
}

@media (min-width: 481px) {
  .place-details__info {
    display: grid;
    grid-template: 1fr/ 1fr .3fr;
  }

  .place-details__about {
    font-size: 1.3rem;
  }

  .place-details-about__headline {
    font: var(--font-headline);
  }
}
/*events*/

.event:hover {
  background: var(--background-light-color);
}

.event__headline {
  margin-top: 15px;
  font-weight: 600;
  letter-spacing: 1px;
}

.favorite-visit-section {
  display: grid;
  grid-template-columns: 2.5fr 0.05fr;
  justify-items: end;
}

.visited-btn {
  padding: 5px 25px;
  justify-items: end;
  background-color: #ffffff;
  color: var(--main-text-color);
  font: var(--font-text);
  border: 1px solid var(--main-text-color);
  border-radius: 8px;
  transition: background-color 2s;
}

.visited-btn:hover,
.visited-btn:active,
.visited-btn:focus {
  background-color: var(--main-text-color);
  color: #ffffff;
}
