<app-layout>
  <div *ngIf="place">
    <div class="place-details__wrapper">
      <div class="container">
        <app-gallery [photos]="place.photos"></app-gallery>
        <h1 class="place-details__headline">{{place.name}}</h1>
        <div class="place-details__info">
          <div class="place-details__contacts">
            <div>
              <ul *ngIf="place.phones" class=" place-details__text list">
                <li *ngFor="let phone of place.phones">{{phone}}</li>
              </ul>
            </div>
            <p class="place-details__text">{{place.address}}</p>
            <a href="{{place.website}}" class="place-details__text place-details__link link">{{place.website}}</a>
          </div>
          <div class="place-details__text">
            <p class="bold">Графік роботи:</p>
            <ul *ngIf="place.work_time" class="list place-details__text">
              <li *ngIf="place.work_time.mon"> Понеділок: {{place.work_time.mon.start}} - {{place.work_time.mon.end}}</li>
              <li *ngIf="!place.work_time.mon"> Понеділок: вихідний</li>
              <li *ngIf="place.work_time.tue"> Вівторок: {{place.work_time.tue.start}} - {{place.work_time.tue.end}}</li>
              <li *ngIf="!place.work_time.tue"> Вівторок: вихідний</li>
              <li *ngIf="place.work_time.wed"> Середа: {{place.work_time.wed.start}} - {{place.work_time.wed.end}}</li>
              <li *ngIf="!place.work_time.wed"> Середа: вихідний</li>
              <li *ngIf="place.work_time.thu"> Четверг: {{place.work_time.thu.start}} - {{place.work_time.thu.end}}</li>
              <li *ngIf="!place.work_time.thu"> Четверг: вихідний</li>
              <li *ngIf="place.work_time.fri"> П'ятниця: {{place.work_time.fri.start}} - {{place.work_time.fri.end}}</li>
              <li *ngIf="!place.work_time.fri"> П'ятниця: вихідний</li>
              <li *ngIf="place.work_time.sat"> Субота: {{place.work_time.sat.start}} - {{place.work_time.sat.end}}</li>
              <li *ngIf="!place.work_time.sat"> Субота: вихідний</li>
              <li *ngIf="place.work_time.sun"> Неділя: {{place.work_time.sun.start}} - {{place.work_time.sun.end}}</li>
              <li *ngIf="!place.work_time.sun"> Неділя: вихідний</li>
            </ul>
          </div>
        </div>
        <div class="place-details__tolerances">
          <p class="place-details__text">Доступність: {{place.accessibility}}</p>
          <p class="place-details__text">Місце дружнє до дітей: {{place.child_friendly}}</p>
          <p class="place-details__text">Місце дружнє до тварин: {{place.dog_friendly}}</p>
        </div>
        <h2 class="place-details-about__headline">Про {{place.name}}</h2>
        <p class="place-details__about">{{place.description}}</p>
        <p class="place-details__text">Рейтинг: {{place.rating || 'відсутній'}}</p>
      </div>
    </div>
  </div>
</app-layout>
