.place-details__wrapper:hover a {
  text-decoration: none;
}

.place-details__wrapper {
  background-color: var(--color-light-saturated);
}

.main-content {
  background-color: var(--color-light);
}

.place__about {
  padding: 50px 10px;
}

.place-details__info {
  padding: 30px;
}

.place-details__headline {
  padding: 30px 0;
  margin: 0;
  font: var(--font-headline);
}

.place-details__text li {
  padding: 5px;
}

.page-place-details__icon-clock {
  margin-right: 5px;
}

.page-place-details__work-time {
  grid-template-rows: max-content;
  align-items: normal;
}

.place-details__about {
  line-height: 2rem;
  text-align: justify;
}
.view-rating {
  padding-bottom: var(--padding);
}
@media (min-width: 481px) {

  .place-details__about {
    font-size: 1.3rem;
  }
}

@media (min-width: 576px) {
  .place-details__info {
    display: grid;
    grid-template: 1fr/ 1fr .7fr;
  }
}

@media (min-width: 767px) {

}
@media (min-width: 1024px) {
  .place-details__info {
    grid-template: 1fr/ 1fr .25fr;
  }
}

/*events*/

.event:hover {
  background: var(--color-light);
}

.favorite-visit-section {
  display: grid;
  grid-template-columns: 2.5fr 0.05fr;
  justify-items: end;
}

.visited-btn {
  padding: 5px 25px;
  justify-items: end;
  background-color: var(--color-light);
  color: var(--color-main-grey);
  font: var(--font-text);
  border: 1px solid var(--color-main-grey);
  border-radius: 8px;
}

.filter-state {
  padding-left: 7px;
}

.form-review {
  background-color: var(--color-light);
  padding-bottom: 50px;
}
