<app-layout xmlns="http://www.w3.org/1999/html">
  <div *ngIf="place" class="place-details__wrapper">
    <div class="main-content container">
      <app-gallery [photos]="place.photos"></app-gallery>
      <section class="place-details__info section">
        <div class="place-details__contacts">
          <h1 class="place-details__headline">{{place.name}}</h1>
          <div class="bright-line"></div>
          <ul *ngIf="place.phones" class="list">
            <li *ngFor="let phone of place.phones">
              <a href="tel:{{place.phones}}" class="contact-text contact-link icon-text-row ">
                <mat-icon class="icon gray-icon">phone_in_talk</mat-icon>
                <span class="contact__link">{{phone}}</span>
              </a>
            </li>
          </ul>
          <a href="https:/maps.google.com/?q={{place.address}}" class="contact-text contact-link icon-text-row details__row">
            <svg viewBox="0 0 512 512" class="icon">
              <use xlink:href="assets/icons.svg#map"></use>
            </svg>
            <span class="contact__link">{{place.address}}</span>
          </a>
          <a href="{{place.website}}" class="contact-text contact-link icon-text-row">
            <svg viewBox="0 0 128 128" class="icon">
              <use xlink:href="assets/icons.svg#website"></use>
            </svg>
            <span class="contact__link">{{place.website}}</span>
          </a>
          <p class="contact-text icon-text-row">
            <svg viewBox="0 0 512 512" class="icon">
              <use xlink:href="assets/icons.svg#tolerance"></use>
            </svg>
            Доступність:<span [innerHTML]="getFitterState(place.accessibility)" class="padding-inside"></span> </p>
          <p class="contact-text icon-text-row">
            <svg viewBox="0 0 512 512" class="icon">
              <use xlink:href="assets/icons.svg#baby"></use>
            </svg>
            Місце дружнє до дітей: <span [innerHTML]="getFitterState(place.child_friendly)" class="filter-state"></span>
          </p>
          <p class="contact-text icon-text-row">
            <mat-icon class="icon gray-icon">pets</mat-icon>
            Місце дружнє до тварин:  <span [innerHTML]="getFitterState(place.dog_friendly)" class="padding-inside"></span></p>
        </div>
        <div class="contact-text page-place-details__work-time">
          <p class="contact-text  icon-text-row">
            <svg viewBox="0 0 512 512" class="icon page-place-details__icon-clock">
              <use xlink:href="assets/icons.svg#clock"></use>
            </svg>
            <span class="bold">  Графік роботи:</span>
          </p>
          <ul *ngIf="place.work_time" class="list place-details__text">
            <li *ngIf="place.work_time.mon"> Понеділок: {{place.work_time.mon.start}} - {{place.work_time.mon.end}}</li>
            <li *ngIf="!place.work_time.mon"> Понеділок: вихідний</li>
            <li *ngIf="place.work_time.tue"> Вівторок: {{place.work_time.tue.start}} - {{place.work_time.tue.end}}</li>
            <li *ngIf="!place.work_time.tue"> Вівторок: вихідний</li>
            <li *ngIf="place.work_time.wed"> Середа: {{place.work_time.wed.start}} - {{place.work_time.wed.end}}</li>
            <li *ngIf="!place.work_time.wed"> Середа: вихідний</li>
            <li *ngIf="place.work_time.thu"> Четверг: {{place.work_time.thu.start}} - {{place.work_time.thu.end}}</li>
            <li *ngIf="!place.work_time.thu"> Четверг: вихідний</li>
            <li *ngIf="place.work_time.fri"> П'ятниця: {{place.work_time.fri.start}} - {{place.work_time.fri.end}}</li>
            <li *ngIf="!place.work_time.fri"> П'ятниця: вихідний</li>
            <li *ngIf="place.work_time.sat"> Субота: {{place.work_time.sat.start}} - {{place.work_time.sat.end}}</li>
            <li *ngIf="!place.work_time.sat"> Субота: вихідний</li>
            <li *ngIf="place.work_time.sun"> Неділя: {{place.work_time.sun.start}} - {{place.work_time.sun.end}}</li>
            <li *ngIf="!place.work_time.sun"> Неділя: вихідний</li>
          </ul>
        </div>
      </section>
      <section *ngIf="events?.length" class="container section">
        <h2 class="subtitle">Найближчі події</h2>
        <ul class="main__list">
          <li class="event-item" *ngFor="let event of events">
            <a routerLink="/events/{{event.id}}">
               <span class="img-wrapper">
            <img class="img-photo" src="{{event.main_photo}}" alt="{{event.name}}">
            </span>
              <p class="card-link event__headline">
                {{event.name}}
              </p>
              <p class="card-text">
                {{dateService.getDateTime(event.start_time)}}
              </p>
            </a>
          </li>
        </ul>
      </section>
      <section class="place-about container section">
        <h2 class="subtitle">Про {{place.name}}</h2>
        <div class="bright-line"></div>
        <p class="place-details__about">{{place.description}}</p>
        <div class="favorite-visit-section">
          <button *ngIf="!visited"
                  [class.--disabled]="isLoggedOut$ | async"
                  mat-raised-button
                  color="primary"
                  class="scheduled-btn"
                  (click)="updateVisitedState()"
                  appAuthorizationTooltip>Відвідати
          </button>
          <button *ngIf="visited"
                  [class.--disabled]="isLoggedOut$ | async"
                  [class.pressed-primary-btn]="visited"
                  mat-raised-button
                  (click)="updateVisitedState()"
                  appAuthorizationTooltip>Відвідаю
          </button>
          <button [class.--disabled]="isLoggedOut$ | async"
                  mat-icon-button
                  (click)="updateFavoriteState()"
                  class="red" appAuthorizationTooltip>
            <mat-icon *ngIf="favorite" class="red">favorite</mat-icon>
            <mat-icon *ngIf="!favorite" class="red">favorite_border</mat-icon>
          </button>
        </div>
      </section>
      <section class="container view-rating section">
        <app-rating-view *ngIf="placeId" [placeId]="placeId" [rating]="place.rating"
                         [reviewsTotal]="reviewsTotal"></app-rating-view>
      </section>
      <section class="container form-review section">
        <app-form-review
          *ngIf="placeId"
          [placeId]="placeId"
          (sentReview)="updateReviewsState()"
          appAuthorizationTooltip></app-form-review>
      </section>
      <section class="container form-review">
        <app-comments-view *ngIf="reviews && reviewsTotalPages"
                           class="event-details__pagination"
                           [reviews]="reviews"
                           [reviewsState]="reviewsState"
                           [totalPages]="reviewsTotalPages"
                           (paginationStateChange)="updateReviewsPaginationState($event)">

        </app-comments-view>
      </section>
    </div>

  </div>
</app-layout>
