.events-wrapper {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  padding-inline-start: 0;
}

.event {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.event__photo {
  max-width: 192px;
}

.event__title {

}
