<section class="events-upcoming background-saturated">
  <div class="container  padding-inside">
    <div class="events-headline__line">
      <h2 class="headline events-headline__headline">Найближчі події</h2>
      <span class="mat-h3 events__date">{{dateUrkFormat}}</span>
      <button class="btn__datepicker" mat-button matSuffix mat-icon-button aria-label="Calendar"
              (click)="picker.open()">
        <mat-icon>events</mat-icon>
      </button>
      <mat-form-field appearance="fill" style="width: 1px; visibility: hidden" class="mat-hidden">
        <input matInput [matDatepicker]="picker" [formControl]="dateInput">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div *ngIf="eventsContentVisibility | async">
      <div class="main-list list upcoming-events__list" *ngIf="events?.length">
        <a routerLink="/events/{{event.id}}" *ngFor="let event of events" class="link event-item upcoming-events__item">
            <img class="img-photo" src="{{event.main_photo}}" alt="{{event.name}}">
          <p class="card-link">
            {{event.name}}
          </p>
          <p class="card-text">
            {{dateService.getDateTime(event.start_time)}}
          </p>
        </a>
      </div>
      <p class="mat-h3" *ngIf="!events?.length">Нічого не знайдено!</p>
      <a routerLink="/events" class="upcoming-events__link link icon-text-row">
        <mat-icon>sync</mat-icon>
        <span>Більше подій</span>
      </a>
    </div>
    <mat-spinner class="loader" *ngIf="eventsLoaderVisibility | async"></mat-spinner>
  </div>
</section>

