.upcoming-events__item:hover {
  background-color: var(--color-light);
}

.events-headline__line {
  display: grid;
  grid-template-columns: 1fr 1fr .002fr;
  grid-template-rows: .5fr;
  align-items: baseline;
}

.mat-hidden {
  grid-row: 1/2;
}

.events-headline__headline {
  grid-row: 1/2;
}

.events__date {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
}

.btn__datepicker {
  grid-column: 3/4;
  grid-row: 1/2;
}

.upcoming-events__list {
  margin-bottom: var(--padding);
}
