.upcoming-events__item:hover {
  background-color: var(--color-light-saturated);
}

.events-headline__line {
  display: grid;
  grid-template-columns: 1fr 1fr .002fr;
  grid-template-rows: .5fr;
  align-items: baseline;
}

.mat-hidden {
  grid-row: 1/2;
  grid-column: 3/4;
}

.events-headline__headline {
  grid-row: 1/2;
}

.events__date {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
}

.btn__datepicker {
  grid-column: 3/4;
  grid-row: 1/2;
}

.btn__datepicker:hover {
  color: var(--color-bright);
}

.upcoming-events__list {
  margin-bottom: var(--padding);
}

.upcoming-events__link {
  font-size: 1.5rem;
  grid-template: 1fr / .35fr 1fr;
  align-items: end;
  width: fit-content;
  margin: 0 auto;
}

.upcoming-events__link .material-icons {
  font-size: 35px;
  font-weight: 600;
  /*height: 50px;*/
  color: var(--color-bright);
}
