<footer class="container footer">
  <a href="tel: 0472 543 522" class="first__link footer__link link">
    <svg viewBox="0 0 35 35" class="footer__icon">
      <use xlink:href="../../../../../assets/icons.svg#phone"></use>
    </svg>
    Жіночий кризовий центр
  </a>
  <a href="tel: 1505" class="middle-link footer__link link">
    <svg viewBox="0 0 35 35" class="footer__icon">
      <use xlink:href="../../../../../assets/icons.svg#phone"></use>
    </svg>
    Оперативна служба міста
  </a>
  <a href="tel: 1505" class="last-link footer__link link">
    <svg viewBox="0 0 64 64" class="footer__icon">
      <use xlink:href="../../../../../assets/icons.svg#health"></use>
    </svg>
    Приймальне відділення
    вул. Самійла Кішки, 210
  </a>
</footer>
