<app-layout>
  <app-explore-bar [categoryId]="categoryId"></app-explore-bar>
  <div class="container page-places-list padding-inside">
    <h2 *ngIf="categoryName" class="headline page-places-list__headline">Шукаємо: {{categoryName}}</h2>
    <a [class.--disabled]="!isLoggedIn" routerLink="/place_create" class="link link-add">Додати локацію</a>
  </div>
  <div class="container main-wrapper padding-inside">
    <section class="aside-filters page-places-list__aside">
      <app-filter-by-availability
        (availabilityStateChange)="updateFilterAvailabilityState($event)"
        [page]="'places'">
      </app-filter-by-availability>
      <app-filter-by-type (filterStateChange)="updateFilterTypeState($event)"
                          [categoryId]="categoryId" class="filters__filter-by-type">
      </app-filter-by-type>
    </section>
    <section class="places background-saturated">
      <ul class="list places__list">
        <li *ngFor="let place of places" class="places__item">
          <a routerLink="{{place.id}}" class="places__img-wrapper">
            <img src="{{place.main_photo}}" alt="" class="img-photo">
          </a>
          <a routerLink="{{place.id}}" class="places__about-info-headline places__about-info">
            {{place.name}}
          </a>
          <p class="contact-text icon-text-row places__about-info">
            <svg viewBox="0 0 512 512" class="icon">
              <use xlink:href="../../../../../assets/icons.svg#clock"></use>
            </svg>
            <span [innerHTML]="dateService.getWorkState(place.work_time)"></span>
          </p>
          <a href="https:/maps.google.com/?q={{place.address}}"
             class="contact-text card-link icon-text-row places__about-info">
            <svg viewBox="0 0 512 512" class="icon">
              <use xlink:href="../../../../../assets/icons.svg#map"></use>
            </svg>
            {{place.address}}
          </a>
          <a href="tel:{{place.phones}}" class="contact-text card-link icon-text-row places__about-info">
            <svg viewBox="0 0 35 35" class="icon">
              <use xlink:href="../../../../../assets/icons.svg#phone"></use>
            </svg>
            {{place.phones}}
          </a>
          <a href="{{place.website}}" class="contact-text card-link icon-text-row places__about-info">
            <svg viewBox="0 0 128 128" class="icon">
              <use xlink:href="../../../../../assets/icons.svg#website"></use>
            </svg>
            {{place.website}}
          </a>
        </li>
      </ul>

      <app-pagination *ngIf="totalPages"
                      (paginationStateChange)="updatePaginationState($event)"
                      [filterTypeState]="filterTypeState"
                      [filterAvailabilityState]="filterAvailabilityState"
                      [totalPages]="totalPages"
                      [categoryId]="categoryId">
      </app-pagination>
    </section>
  </div>
</app-layout>
