<div class="main-wrapper">
  <section class="filters">
    <div class="container">
      <div class="filters__wrapper">
        <h2 *ngIf="categoryName" class="filters__headline">Місце категорії: {{categoryName}}</h2>
        <a routerLink="/add_place" class="filters__link-add link">Додати локацію</a>
      </div>
      <div class="filters__wrapper">
        <app-filter-by-availability (availabilityStateChange)="updateFilterAvailabilityState($event)">
        </app-filter-by-availability>
        <app-filter-by-type (filterStateChange)="updateFilterTypeState($event)"
                            [categoryId]="categoryId" class="filters__filter-by-type">
        </app-filter-by-type>
      </div>
    </div>
  </section>
  <section class="places">
    <div class="container">
      <ul class="places__list">
        <li *ngFor="let place of places" class="list">
          <div routerLink="{{place.id}}" class="places__item list">
          <div class="places__img-wrapper link">
            <img src="{{place.main_photo}}" alt="" class="places__prev-photo">
          </div>
          <div class="places__about-info">
            <p class="places__about-info-headline">{{place.name}}</p>
            <a href="https:/maps.google.com/?q={{place.address}}" class="places__about-info-text places__about-info-link">
              <svg viewBox="0 0 512 512" class="places__icon">
                <use xlink:href="../../../../../assets/icons.svg#map"></use>
              </svg>
              {{place.address}}</a>
            <p class="places__about-info-text">
              <svg viewBox="0 0 512 512" class="places__icon">
                <use xlink:href="../../../../../assets/icons.svg#clock"></use>
              </svg>
              {{dateService.getWorkState(place.work_time)}}
            </p>

            <a href="tel:{{place.phones}}" class="places__about-info-text places__about-info-link">
              <svg viewBox="0 0 35 35" class="places__icon">
                <use xlink:href="../../../../../assets/icons.svg#phone"></use>
              </svg>
              {{place.phones}}
            </a>
            <a href="{{place.website}}" class="places__about-info-text places__about-info-link">
              <svg viewBox="0 0 128 128" class="places__icon">
                <use xlink:href="../../../../../assets/icons.svg#website"></use>
              </svg>
              {{place.website}}
            </a>
          </div>
          </div>
        </li>
      </ul>
      <app-pagination *ngIf="totalPages"
                      (paginationStateChange)="updatePaginationState($event)"
                      [filterTypeState]="filterTypeState"
                      [filterAvailabilityState]="filterAvailabilityState"
                      [totalPages]="totalPages"
                      [categoryId]="categoryId">
      </app-pagination>
    </div>
  </section>
</div>
