.page-places-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.page-places-list__headline {
  margin-top: 4%;
  font-size: 20px;
  line-height: 28px;
}

.page-places-list__link-add {
  padding: 8px;
  justify-self: end;
  align-self: center;
  background-color: #ffffff;
  color: var(--color-main-grey);
  border: 1px solid var(--color-main-grey);
  border-radius: 8px;
  transition: background-color 2s;
}

.page-places-list__link-add:hover,
.page-places-list__link-add:active,
.page-places-list__link-add:focus {
  background-color: var(--color-main-grey);
  color: #ffffff;
}


.filters {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
  grid-column-gap: 20px;
  background-color: rgba(0, 0, 0, 0.08);
}

/*list*/

.places__item {
  padding: 10px;
  color: var(--color-main-grey);
  text-decoration: none;
}

.places__item:hover {
  background-color: var(--color-light);
}

.places__img-wrapper {
  grid-column: 1/2;
  grid-row: 2/6;
}

.places__about-info {
  padding: 0;
  grid-column: 2/3;
  text-transform: initial;
  font-weight: 400;
}

.places__about-info-headline {
  padding: 15px 0;
  display: grid;
  color: var(--color-main-grey);
  font: var(--font-headline);
  font-size: 1.2rem;
  text-transform: capitalize;
}

.places__about-info-headline:hover,
.places__about-info-headline:focus {
  color: var(--color-bright);
}

@media (min-width: 481px) {

  .page-places-list__aside {
    grid-template-columns: 1fr 1fr;
  }

  .page-places-list__headline {
    padding-bottom: 30px;
    font: var(--font-headline);
  }

  .page-places-list__link-add {
    padding: 10px 25px;
    font: var(--font-headline);
    font-size: 1.2rem;
  }

  .places__item {
    padding: 20px;
  }

}

@media (min-width: 576px) {
  .places__item {
    display: grid;
    grid-template: 1fr/ 200px 1fr;
    column-gap: var(--padding);
  }
}


@media (min-width: 769px) {

  .places {
    margin-left: 3px;
  }

  .page-places-list__aside {
    grid-template-columns: 1fr;
  }

  .main-wrapper {
    display: grid;
    grid-template-columns: .7fr 2.5fr;
    grid-template-rows: auto;
  }

  .filters {
    grid-template-columns: 1fr;
  }
}@media (min-width: 992px) {
  .places__item {
    grid-template: 1fr/ 300px 1fr;
  }
}
