<div *ngIf="events">
  <h1 class="mat-h1">Приєднуйся зараз</h1>
  <ul class="events-list" *ngIf="events?.length">
    <li class="event" *ngFor="let event of events">
      <a routerLink="/events/{{event.id}}">
        <img class="event__photo" src="{{event.main_photo}}" alt="">
        <p class="event__title">
          {{event.name}}<br>
          {{dateService.getDateTime(event.start_time)}}
        </p>
      </a>
    </li>
  </ul>
  <app-pagination
    *ngIf="totalPages"
    [isArrowPagination]="true"
    (paginationStateChange)="updatePaginationState($event)"
    [totalPages]="totalPages">
  </app-pagination>
</div>
