<section class="events">
  <div *ngIf="events?.length" class="container">
    <h2 class="headline">Приєднуйся зараз</h2>
    <ul class="main__list list">
      <li class="event-item" *ngFor="let event of events">
        <a routerLink="/events/{{event.id}}">
        <span class="img-wrapper">
            <img class="img-photo" src="{{event.main_photo}}" alt="{{event.name}}">
        </span>
          <p class="card-link event__headline">
            {{event.name}}
          </p>
          <p class="card-text">
            {{dateService.getDateTime(event.start_time)}}
          </p>
        </a>
      </li>
    </ul>
    <app-pagination
      *ngIf="totalPages"
      [isArrowPagination]="true"
      (paginationStateChange)="updatePaginationState($event)"
      [totalPages]="totalPages">
    </app-pagination>
  </div>
</section>
