<section class="background-light container">
  <h2 class="headline events-right-now__headline">Приєднуйся зараз</h2>
  <div *ngIf="events?.length" class=" padding-inside">
    <div class="main-list list home-list">
        <a *ngFor="let event of events" routerLink="/events/{{event.id}}" class="link event-item events-right-now__event-item">
            <img class="img-photo" src="{{event.main_photo}}" alt="{{event.name}}">
          <p class="card-link">
            {{event.name}}
          </p>
          <p class="card-text">
            {{dateService.getDateTime(event.start_time)}}
          </p>
        </a>
    </div>
    <app-pagination
      *ngIf="totalPages"
      [isArrowPagination]="true"
      (paginationStateChange)="updatePaginationState($event)"
      [totalPages]="totalPages">
    </app-pagination>
  </div>
  <p class="mat-h3 min-section" *ngIf="!events?.length">Нічого не знайдено!</p>

</section>
