mat-radio-group{
  display: block;
  padding: 0 0 20px 0;
}

form {
  max-width: 480px;
}

mat-form-field,
mat-radio-group,
mat-radio-button {
  display: block;
}

mat-radio-button {
  padding-bottom: 5px;
}

mat-form-field {
  padding-bottom: 10px;
}

.padding-left {
  padding: 0 0 0 50px;
}

.phones {
  position: relative;
}

.phones .mat-form-field-wrapper {
  padding-bottom: 0;
}

.add-phone {
  position: absolute;
  right: -50px;
  bottom: 10px;
}

.workTime {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
}

.workTime__title {
  margin: 0;
  width: 86px;
  padding-right: 20px;
}

.workTime__field {
  width: 110px;
  padding: 0 10px 0 0;
}

.gray {
  color: rgb(133, 133, 133);
}

.small {
  font-size: 75%;
}
