mat-radio-group{
  display: block;
  padding: 0 0 20px 0;
}

form {
  max-width: 480px;
}

mat-form-field,
mat-radio-group,
mat-radio-button {
  display: block;
}

mat-radio-button {
  padding-bottom: 5px;
}

.new-organization {
  padding-left: 50px;
}

.phones {
  position: relative;
}

.add-phone {
  position: absolute;
  right: -50px;
  bottom: 10px;
}

.workTime {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.workTime__title {
  margin: 0;
  width: 30px;
  padding-right: 50px;
}

.workTime__field {
  width: 80px;
  padding-right: 10px;
}
