p {
  margin: 0;
}

.review-wrapper {
  padding: 30px 20px;
}
.reviews {
  list-style: none;
  display: grid;
  row-gap: 40px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  background-color: var(--color-light-saturated);
}

.review {
  padding: var(--padding);
  border-radius: 8px;
  display: grid;
  grid-template: .1fr .1fr / 80px 1fr 116px;
  grid-auto-rows: auto;
  align-items: start;
  justify-items: start;
  background-color: var(--color-light);

}

.review__avatar {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.review__username {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.review__date {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: end;
  color: var(--color-light-grey);
}

.review__rating {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  color: #ffac00;
}

.review__comment {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  width: fit-content;
}
