.review-form {
  display: grid;
  grid-template: .3fr .7fr / 80px 1fr 42px;
  width: 50%;
  min-width: 320px;
  align-items: center;
}

.review-form__user-avatar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  justify-self: start;
}

.review-form__rating-bar {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}
.review-form__rating-bar mat-icon {
  color: #ffac00;
}

.review-form__error-message {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  align-self: end;
}

.review-form__comment-input {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.review-form__submit-btn {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  color: var(--color-main-grey);
}

.review-form__rating-input {
  display: none;
}

.header__icon {
  fill: var(--color-light-grey);
  padding: 7px;
  width: 70px;
  height: 70px;
  border: 2px solid var(--color-light-grey);
  border-radius: 50%;
}
