<h2 class="subtitle">Залишити відгук:</h2>
<form [class.--disabled]="!isLoggedIn" class="review-form" [formGroup]="formReview" (ngSubmit)="onSubmit()">
  <img *ngIf="user" class="review-form__user-avatar avatar-img" src="{{user.avatar}}" alt="{{user.name}}">
  <svg *ngIf="!user" class="review-form__user-avatar avatar-placeholder" viewBox="-42 0 512 512.002">
    <use xlink:href="../../../../../assets/icons.svg#user"></use>
  </svg>
  <div class="review-form__rating-bar">
    <input class="review-form__rating-input" type="text" formControlName="rating">
    <button [disabled]="!isLoggedIn" class="review-form__rating-btn"
            mat-icon-button
            matTooltipPosition="above"
            *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i"
            [color]="color"
            (click)="setRating(i + 1)" [matTooltip]="ratingId + 1">
      <mat-icon class="review-form__rating-bar">
        {{getRatingIcon(i)}}
      </mat-icon>
    </button>
  </div>
  <mat-form-field class="review-form__comment-input">
    <mat-label>Коментар</mat-label>
    <textarea formControlName="comment" matInput placeholder="Залиште коментар"></textarea>
  </mat-form-field>
  <mat-error class="review-form__error-message" *ngIf="hasRatingError">Будь ласка, виставте оцінку</mat-error>
  <button [disabled]="!isLoggedIn" class="review-form__submit-btn" type="submit" mat-button matSuffix mat-icon-button color="primary"><mat-icon>send</mat-icon></button>
</form>
