<app-layout>
  <h2>Детальна сторінка <span>{{placeId}}</span></h2>
  <p>{{name}}</p>
  <p>new text</p>
  <app-gallery [photos] = "photos"></app-gallery>
  <p>{{categoryId}}</p>
  <p>{{typeId}}</p>
  <p>{{phone}}</p>
  <p>{{address}}</p>
   <p>{{website}}</p>
  <p>Графік роботи: {{workTime}}</p>
  <p>Доступність: {{accessibility}}</p>
  <p>Місце дружнє до дітей: {{childFriendly}}</p>
  <p>Місце дружнє до тварин: {{dogFriendly}}</p>
  <p>Детальна інформація: {{description}}</p>
  <p>Рейтинг: {{rating}}</p>
</app-layout>
